.sneks_main_container {
    max-width: 1520px;
    margin: 0 auto;
    padding: 0px 60px;
}

.sneks_main_container h1 {
    max-width: 1430px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 45px;
    font-family: Caveat;
}

.sneks_filter_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.sneks_products_container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
}

@media(max-width: 1600px) {
    .sneks_main_container {
        padding: 0px 25px 0px 90px;
    }
}

@media(max-width: 1200px) {
    .sneks_main_container {
        padding: 0px 60px;
    }
}

@media(max-width: 991px)  {
    .sneks_main_container {
        padding: 0px;
    }
    .sneks_products_container {
        padding: 0px 15px;
    }

}

@media(max-width: 768px) {
    .sneks_products_container {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding: 0px;
    }
    .sneks_filter_container {
        display: block;
    }

    .sneks_main_container {
        padding: 0px 15px;
    }
}