.sneks_product {
    position: relative;
    padding-bottom: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: calc(33.3333% - (30px*2) /3);
}

.sneks_product img {
    transition: transform .25s;
}

.sneks_product img:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.sneks_bottom_info {
    padding: 0px 15px;
}


.sneks_product:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.sneks_controllers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_weight {
    color: #98989d;
    margin-bottom: 10px;
}

.product_title {
    font-size: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    margin-bottom: 12px;
}

.product_price {
    font-weight: 700;
    font-size: 23px;
}

.img_wrapper {
    position: relative;
    padding-top: 100%;
    overflow: hidden;
}

.img_wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.product_title a {
    color: black;
    transition: color 0.25s;
}

.product_title a:hover {
    color: #921b1b;
    transition: color 0.25s;
}

@media(max-width:768px) {
    .sneks_product {
        width: calc(50% - 20px/2);
    }
}

@media(max-width:550px) {
    .sneks_product {
        width: 100%;
        box-shadow: 0px 0px 4px 1px #dddddd80;
    }
}