.section_wrapper {
    display: flex;
    flex-direction: column;
}

.section_wrapper h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Caveat, Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.prod_list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    gap: 30px;
}

.pizza_element {
    width: calc(33.3333% - (30px*2) /3);
    position: relative;
}

.pizza_element div:first-child {
    overflow: hidden;
}

.pizza_element:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.pizza_element img:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.pizza_element img {
    transition: transform 0.25s;
}

.product_controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_controls p {
    font-size: 23px;
}

.product_description {
    padding: 0 18px 18px 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pizza_element:hover .description {
    display: block;
}

.title {
    font-size: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

.weight {
    color: #98989d;
}

.pizza_size {
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 16px;
    border: 1px solid #e8e8e8;
}

.pizza_size li {
    width: 33.333%;
    text-align: center;
    line-height: 26px;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

#current_pizza_size {
    font-weight: 700;
}

#current_pizza_size::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .15);
    background-color: #f2f2f2;
    border-radius: 16px;
    width: calc(100% + 4px);
    height: 32px;
    opacity: 1;
    z-index: -1;
}

.bortik {
    background-color: transparent;
    border: 1px solid #e8e8e8;
    outline: 0;
    border-radius: 16px;
    font-size: 11px;
    line-height: 26px;
    font-weight: 500;
    position: relative;
}

.bortiktrue::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .15);
    background-color: #f2f2f2;
    border-radius: 16px;
    width: calc(100% + 4px);
    height: 32px;
    opacity: 1;
    z-index: -1;
}

.bortik:hover {
    font-weight: 700;
}

.bortiktrue {
    font-weight: 700;
}

.filter {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

}

.filter_size {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-left: auto;
}

.filters_wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    user-select: none;
    cursor: pointer;
    gap: 30px;
    margin-bottom: 30px;
    padding: 0 15px;
}

.filters_wrapper li {
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    padding: 5px 25px;
    text-wrap: nowrap;
    border: 1px solid white;
    transition: all 0.25s;
    max-height: 30px;
}

.filters_wrapper li:hover {
    border-color: #921b1b;
}

.activefilter {
    background-color: #921b1b;
    color: #fff;
}

.description {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 1;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .15);
    padding: 0px 18px 20px 18px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(152, 152, 157);
    text-align: center;
    width: 100%;
}

.img_wrapper {
    position: relative;
    padding-top: 100%;
}

.img_wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.filters {
    display: flex;
    width: 100%;
    gap: 30px;
}


@media(max-width:768px) {
    .prod_list li {
        width: calc(50% - 20px/2);
    }

    .prod_list {
        gap: 20px;
        padding: 0 10px;
    }

    .product_description {
        padding: 0 10px 10px 10px;
    }

    .filters_wrapper {
        padding: 0 10px;
        flex-direction: column-reverse;
    }

    .filters {
        flex-wrap: nowrap;
        overflow-x: auto;
        scrollbar-color: rgba(0, 0, 0, 0) rgba(255, 255, 255, 0);
        padding: 10px 0;
    }

    .filter {
        flex-wrap: nowrap;
    }

    .filter_size {
        flex-wrap: nowrap;
    }

}

@media(max-width:550px) {
    .prod_list li {
        width: 100%;
        box-shadow: 0px 0px 4px 1px #dddddd80;
    }

    .prod_list {
        gap: 10px;
        padding: 0;
    }

    .filters_wrapper {
        padding: 0;
    }
}