.section_wrapper {
    display: flex;
    flex-direction: column;
}

.section_wrapper h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Caveat, Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.prod_list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    gap: 30px;
}

.prod_element {
    width: calc(33.3333% - (30px*2) /3);
    position: relative;
}

.prod_element div:first-child {
    overflow: hidden;
}

.prod_element:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.prod_element img:hover {
    transform: scale(1.1);
}

.prod_element img {
    transition: transform 0.25s;
}

.product_controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_controls p {
    font-size: 23px;
}

.product_description {
    padding: 0 18px 18px 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.prod_element:hover .description {
    display: block;
}

.title {
    font-size: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

.weight {
    color: #98989d;
}

.filters_wrapper {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    user-select: none;
    cursor: pointer;
    margin-bottom: 30px;
    padding: 0 15px;
}

.description {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 1;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .15);
    padding: 0px 18px 20px 18px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(152, 152, 157);
    text-align: center;
}

@media(max-width:768px) {
    .prod_list li {
        width: calc(50% - 20px/2);
    }

    .prod_list {
        gap: 20px;
        padding: 0 10px;
    }

    .product_description {
        padding: 0 10px 10px 10px;
    }

    .filters_wrapper {
        padding: 0 10px;
    }
}

@media(max-width:550px) {
    .prod_list li {
        width: 100%;
        box-shadow: 0px 0px 4px 1px #dddddd80;
    }

    .prod_list {
        gap: 10px;
        padding: 0;
    }

    .filters_wrapper {
        justify-content: flex-start;
        padding: 0;
    }
}