.text {
    padding-top: 60px;
    font-size: 17px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    margin-top: 30px;
}

.text h4 {
    margin-top: 50px;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 400;
}

.text h2 {
    font-size: 41px;
    line-height: 1.2;
    font-weight: 400;
    margin-top: 50px;
}

.text p {
    line-height: 27.2px;
}

.text ol {
    list-style-position: inside;
}

.text ul li::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 1px;
    background: #22262a;
    vertical-align: middle;
    margin: 0 20px 0 0;
}

.text ul {
    list-style-position: inside;
}

.text li {
    padding-left: 50px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 27.2px;
}

.text>div {
    max-width: 920px;
    margin: 0 auto;
}

.text>div>* {
    margin-bottom: 25px;
}

.text>div>div>* {
    margin-bottom: 25px;
}

@media(max-width:992px) {
    .text>div>* {
        margin-bottom: 20px;
    }

    .text>div>div>* {
        margin-bottom: 20px;
    }

    .text h2 {
        margin-top: 30px;
    }

    .text h4 {
        margin-top: 30px;
    }

    .text {
        padding-top: 40px;
    }

}