.sets_product {
    width: calc(33.3333% - (30px*2) /3);
    position: relative;
    padding-bottom: 20px;
}

.sets_product img {
    transition: transform .25s;
}

.sets_product img:hover {
    transform: scale(1.1);
}

.sets_over {
    overflow: hidden;
}

.sets_bottom_info {
    padding: 0px 15px;
}

.product_weight {
    color: #98989d;
    margin-bottom: 10px;
}

.product_title {
    font-size: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    margin-bottom: 12px;
}

.sets_controllers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_price {
    font-weight: 700;
    font-size: 23px;
    font-family: Montserrat;
}

.sets_product:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.sets_product:hover .sets_hidden_block_info {
    display: block;
}

.sets_hidden_block_info {
    color: #98989d;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 1;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .15);
    padding: 0 18px 20px 18px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

@media(max-width:768px) {
    .sets_product {
        width: calc(50% - 20px/2);
    }
}

@media(max-width:550px) {
    .sets_product {
        width: 100%;
        box-shadow: 0px 0px 4px 1px #dddddd80;
    }
}