.oneprod {
    display: flex;
}

.oneprod>div {
    width: 45%;
}

.oneprod>button {
    max-width: 100px;
    border: 0;
    background-color: unset;
    opacity: 0.1;
    transition: opacity 0.25s;
}

.oneprod>button:hover {
    opacity: 0.3;
    transition: opacity 0.25s;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 110px;
    padding-left: 30px;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    padding-left: calc((100vw - 1530px - 17px) / 2);
    padding-right: calc((100vw - 1530px - 17px) / 2);
    padding-top: 95px;
}

.img_wrapper {
    position: relative;
    padding-top: 50%;
}

.img_wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav li:nth-child(1):after {
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 1px;
    background-color: #98989d;
    margin: 0 15px;
}

.nav li:nth-child(2):after {
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 1px;
    background-color: #98989d;
    margin: 0 15px;
}

.nav li:nth-child(3) {
    color: #98989d;
}

.nav a {
    color: black;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}

.nav li:hover a {
    color: #921b1b;
}

.nav li:hover a {
    color: #921b1b;
}

.nav {
    display: flex;
    margin-bottom: 30px;
}

.mini_cart {
    background-color: unset;
    outline: 0;
    border: 0;
    width: 70px;
    height: 70px;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    right: -100px;
}

.mini_cart:hover img {
    opacity: 0.7;
    transition: opacity 0.25s;
}

.mini_cart img {
    position: relative;
    width: 18px;
    height: auto;
    transition: opacity 0.25s;
}

.amount {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 24px;
    height: 24px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    background-color: #fff;
    line-height: 24px;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    color: #98989d;
    border-radius: 50%;
}

.price {
    color: white;
    position: relative;
    font-weight: 700;
    line-height: 24px;
    font-size: 17px;
}

.mini_cart::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 92px;
    height: 93px;
    background-image: url(/mini_cart.svg);
    background-size: 100% 100%;
}

.weight {
    color: #98989d;
    font-size: 15px;
}

.title {
    font-size: 27px;
}

.description {
    font-size: 14px;
    color: #98989d;
}

.pizza_size {
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 16px;
    border: 1px solid #e8e8e8;
}

.pizza_size li {
    width: 33.333%;
    text-align: center;
    line-height: 26px;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.pizza_size li:hover {
    font-weight: 700;
}

#current_pizza_size {
    font-weight: 700;
}

#current_pizza_size::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .15);
    background-color: #f2f2f2;
    border-radius: 16px;
    width: calc(100% + 4px);
    height: 32px;
    opacity: 1;
    z-index: -1;
}

.bortik {
    background-color: transparent;
    border: 1px solid #e8e8e8;
    outline: 0;
    border-radius: 16px;
    font-size: 11px;
    line-height: 26px;
    font-weight: 500;
    position: relative;
}

.bortiktrue::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .15);
    background-color: #f2f2f2;
    border-radius: 16px;
    width: calc(100% + 4px);
    height: 32px;
    opacity: 1;
    z-index: -1;
}

.bortik:hover {
    font-weight: 700;
}

.bortiktrue {
    font-weight: 700;
}

.desc_cart_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

@media(max-width:1600px) {
    .wrapper {
        padding-left: 90px;
        padding-right: 25px;
    }
}

@media(max-width:1200px) {
    .wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media(max-width:992px) {
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 90px;
    }
}